/* Navigation bar */

nav {
  display: flex;
  background-color: #ff6600;
  align-items: center;
  padding: 5px 20px;
  border-radius: 3px 3px 0 0;
}

.navbar-brand {
  font-weight: bold;
  margin-right: 5px;
}

.nav-link {
  font-size: 0.85rem;
  margin: 0 3px;
}

.nav-right {
  margin-left: auto;
  text-align: right;
}

/* .nav-div {
  position: relative;
  margin-right: 5px;
}

.nav-left:after {
  content: '';
  height: 75%;
  width: 2px;
  position: absolute;
  left: 0;
  top: 10%;
  background-color: #000000;
  margin-right: 30px;
} */

.nav-left:before {
  content: '';
  border-left: 2px solid black;
  margin: 0 10px;
}
